<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/"><strong>กระทืบพุง</strong></a> <!-- เปลี่ยนที่นี่ -->
    </li>
    <% breadcrumbs.forEach((crumb, index) => { %> 
      <% if (index === breadcrumbs.length - 1) { %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= crumb.name %>
        </li>
      <% } else { %>
        <li class="breadcrumb-item">
          <a href="<%= crumb.url %>"><%= crumb.name %></a>
        </li>
      <% } %> 
    <% }); %>
  </ol>
</nav>
