<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Blog: <%=mytitle %></title>
    <link rel="stylesheet" text="'text/css" href="/style.css">
</head>