<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="About Content">
        <h2>About us</h2>
        <p>This is about pages.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>