
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    
    <h1>ออกกำลังกายสนุกจังเลย</h1>

    <%- include('./partials/nav.ejs') %>

    <div class="container">

      <!-- ตารางการออกกำลังกาย -->
      <div class="box mt-4">
        <h2>Content</h2>

    </div>


  </body>
</html>
