<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/health.css" />
</head>
<body>
    <header>
        <h1><%= article.Health_Title %></h1>
        <h3><%= article.Sub_Title %></h3>
    </header>

    <div class="article-detail">
        <p><%= article.Health_Detial %></p>
    </div>

    <footer>
        <a href="/health">กลับไปยังหน้าบทความทั้งหมด</a>
    </footer>
</body>
</html>