<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1>บทความเกี่ยวกับสุขภาพ</h1>
        <p>เรียนรู้เกี่ยวกับการดูแลสุขภาพและการใช้ชีวิตอย่างมีสุขภาพดี</p>
    </header>

    <% health.forEach(article => { %>
        <div class="article">
            <h2><%= article.Health_Title %></h2>
            <h3><%= article.Sub_Title %></h3>
            <p><%= article.Health_Detial %></p>
        </div>
    <% }) %>


</body>
</html>