<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=menutitle %></title>
</head>
<body>
    <!-- <% const website= 'Healthy Food' %>
    <% const menu1=  'Fruit Salad' %> -->

    <h1>Welcome to our <b><%=website %></b></h1>
    <p>We provide you with healthy <b><%=menu1 %></b></p>
    <p>Please enjoy our <b><%=website %></b></p>
</body>
</html>