.container {
    width: 9
    0%;
    max-width: 1000px;
    margin: 40px auto;
    z-index: 2;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .filter-box i{
    color: #ff4500;
  }

  .icon-container i {
    color: #ff4500;
  }

  .icon-container i.dimmed {
    opacity: 0.4;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }

  /* Styles for the filter box */
  .filter-box {
    position: fixed;
    top: 180px;
    right: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 3;
  }

  .filter-box h4 {
    margin-bottom: 15px;
  }

  .filter-box label {
    display: block;
    margin-bottom: 10px;
  }